.b13 {
	color: #000;
	background: #fff;
	padding-bottom: 40px;

	h2 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 40px;
		text-transform: uppercase;
	}

	.partners {

		li {
			float: left;
			width: 25%;
			padding: 0 5px;
			overflow: hidden;
		}
	}
}