.b02 {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 50px;

	.advantage {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;

		li {
			float: left;
			width: 330px;
			height: 250px;
			font-size: 15px;
			font-weight: 500;
			line-height: 20px;
			text-align: center;
			padding-top: 140px;
			position: relative;

			&:before {
				top: 0;
				left: 50%;
				width: 133px;
				height: 133px;
				content: ' ';
				margin-left: -67px;
				position: absolute;
				background-position: -133px 0;
				background-repeat: no-repeat;
				@include transition(.2s);
			}

			&:hover {

				&:before {
					background-position: 0 0;
					@include transition(.2s);
				}
			}

			&.item1 {
				margin-top: 70px;

				&:before {
					background-image: url("../img/b02_item1.png");
				}
			}


			&.item2 {

				&:before {
					background-image: url("../img/b02_item2.png");
				}
			}

			&.item3 {
				margin-top: 70px;

				&:before {
					background-image: url("../img/b02_item3.png");
				}
			}

			&.item4 {

				&:before {
					background-image: url("../img/b02_item4.png");
				}
			}

			&.item5 {
				margin-top: 120px;

				&:before {
					background-image: url("../img/b02_item5.png");
				}
			}

			&.item6 {

				&:before {
					background-image: url("../img/b02_item6.png");
				}
			}

			i {
				font-style: normal;
			}

			.circle {
				top: 0;
				left: 40px;
				width: 250px;
				height: 250px;
				margin: 0 auto;
				display: none;
				z-index: 50;
				position: absolute;
				background: #f4e36e;
				@include border-radius(50%);

				span {
					width: 250px;
					height: 250px;
					font-size: 12px;
					padding: 0 20px;
					line-height: 15px;
					font-weight: 400;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}

	.text {
		top: 280px;
		left: 260px;
		width: 500px;
		color: #1d1d1d;
		font-size: 31px;
		font-weight: 900;
		line-height: 38px;
		text-align: center;
		position: absolute;
	}
}