.btn {
	margin:0;
	border: none;
	outline: none;
	color: #463300;
	cursor: pointer;
	font-size: 14px;
	font-weight: 900;
	line-height: 20px;
	padding: 22px 18px;
	text-align: center;
	position: relative;
	background: #f4ce36;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	touch-action: manipulation;
	border-bottom: 5px solid #c99816;
	@include border-radius(5px);
	@include transition(.3s);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);

	&:hover {
		color: #463300;
		background: #ffe063;
		text-decoration: none;
		border-bottom-color: #d4af19;
	}

	&:active {
		top: 1px;
	}
}

.btn-callback {
	margin: 0;
	color: #fff;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	position: relative;
	padding: 10px 10px;
	background: #ce5357;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	@include border-radius(4px);

	&:hover {
		background: #d7676b;
	}

	&:active {
		top: 1px;
	}
}
